<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action="/menus/picked" method="post">
        {% csrf_token %}
        <select name="pick">
            <option value="">직업선택</option>
            <option value="학생">학생</option>
            <option value="회사원">회사원</option>
            <option value="기타">기타</option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
    
        
    
    
</body>
</html>