<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>DETAIL</h1>
    <h2>Title: {{post.title}}</h2>
    <p>contetn: {{post.content}}</p>
    <a href="{% url 'posts:list' %}">LIST</a>
    <a href="{% url 'posts:delete' post.pk %}">DELETE</a>
    <a href="{% url 'posts:edit' post.pk %}">EDIT</a>
    <form action="{% url posts:comments_create' post.pk %}" method="post">
        {% csrf_token %}
        REPLY<input type="text" name="content"/>
        <input type="submit" value="Submit"/>
    </form>
    
</body>
</html>